<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>179745415568-0c72rf2pq0cifoj2q9anai77rq8kou1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179745415568-0c72rf2pq0cifoj2q9anai77rq8kou1e</string>
	<key>API_KEY</key>
	<string>AIzaSyCwBqLHLGztqscjrHdfzt4_BT3RS0PyrLc</string>
	<key>GCM_SENDER_ID</key>
	<string>179745415568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aSsaSasaSasasAs.firebase-test</string>
	<key>PROJECT_ID</key>
	<string>qhacks2017-42b38</string>
	<key>STORAGE_BUCKET</key>
	<string>qhacks2017-42b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:179745415568:ios:e4e4e619e74dfeec</string>
	<key>DATABASE_URL</key>
	<string>https://qhacks2017-42b38.firebaseio.com</string>
</dict>
</plist>
